@use "../abstracts/" as *;
.navbar {
  display: flex;
  .navbar-right-categories-list {
    display: block;
  }
  height: 100px;
  @include flex($align: center, $justify: space-between);
  @include tablet-lager {
    padding: 0 40px 0 40px;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999999;
    display: none;
  }
  .navbar-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #c5c9cc;
    z-index: 9999999;
    transform: translateX(100%);
    transition: all linear 0.2s;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    .navbar-logo {
      justify-content: center;
      padding-top: 50px;
      margin-bottom: 20px;
      margin-right: 10px;
    }
    .navbar-input {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      background-color: $background-color;
      width: 230px;
      border-radius: 8px;
      box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      height: 40px;
      &__input{
        padding:10px 10px;
        outline: none;
        border: none;
        border-radius: 8px;
      }
      &__icons{
        display: flex;
        align-items: center;
      }
    }
  }

  .navbar__input {
    display: none;
  }

  .navbar__input:checked ~ .navbar-mobile {
    transform: translateX(0%);
  }

  .navbar__input:checked ~ .navbar__overlay {
    display: block;
  }

  .navbar-mobile-categories {
    margin-top: 24px;
    &__item {
      color: $text-color;
      display: flex;
      padding: 15px 0;
      justify-content: center;
    }
  }
  .close__icons {
    width: 1.4rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .navbar-logo {
    color: $text-color;
    font-style: normal;
    font-weight: 900;
    mix-blend-mode: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    gap: 15px;
    align-items: center;
    letter-spacing: 1.5px;
    &__circle {
      width: 36px;
      height: 36px;
      background-color: $primary-color;
      color: $background-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .navbar-right {
    @include flex($align: center, $justify: space-between);
    gap: 100px;
    @include tablet-lager {
      display: none;
    }
    &-categories {
      @include flex($align: center, $justify: space-around);
      gap: 56px;
      &__item {
        font-size: 12px;
        line-height: 23px;
        letter-spacing: 0.0555556em;
        color: $text-color;
      }
    }

    &__action {
      @include flex($align: center, $justify: space-around);
      &--search {
        width: 18px;
        height: 18px;
        margin-bottom: 10px;
      }
    }
  }
  .bars__btn {
    width: 20px;
    height: 20px;
    display: none;
    @include tablet-lager {
      display: block;
    }
  }
}
