@use "../abstracts" as *;

.section2 {
  background: $section-background;
  .container {
    padding: 126px 0 126px 0;
  }
  .section2-content {
    display: flex;
    @include tablet-lager {
      flex-direction: column;
      gap: 40px;
      justify-content: center;
    }
    align-items: center;
    gap:80px;
    .information {
      &__title {
        font-family: $header-font;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.323077px;
        color: $text-color;
        @include desktop-small {
          font-size: 40px;
          line-height: 58px;
        }
        @include tablet {
          font-size: 30px;
          line-height: 50px;
        }
      }
      &__description {
        margin-top: 11px;
        font-family: $primary-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.5px;
        color: $border-color;
        @include desktop-small {
          font-size: 16px;
          line-height: 28px;
        }
        @include tablet {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    .list-card {
      display: grid;
      grid-template-columns: 280px 280px;
      grid-template-rows: 280px 280px;
      @include tablet {
        display: flex;
        flex-direction: column;
        gap: 50px;
      }
      padding-bottom: 30px;
    }
  }
}
