@use "../abstracts" as *;
.section5 {
  .section5-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 0 40px 0;
    font-feature-settings: "salt" on, "liga" off;
    @include tablet {
      justify-content: center;
      flex-direction: column;
      gap: 50px;
    }
    .infomation {
      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__title {
        font-family: $header-font;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.5px;
        color: $text-color;
        @include desktop-small {
          font-size: 40px;
          line-height: 60px;
        }
        @include tablet-lager {
          font-size: 35px;
          line-height: 50px;
        }
        @include tablet {
          font-size: 30px;
          line-height: 40px;
          text-align: center;
        }
        @include mobile {
          font-size: 27px;
          line-height: 36px;
        }
      }
      &__description {
        margin-top: 15px;
        font-family: $primary-color;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.5px;
        color: $text-sub-color;
        width: 95%;
        @include desktop-small {
          font-size: 22px;
          line-height: 30px;
        }
        @include tablet {
          font-size: 18px;
          line-height: 26px;
          text-align: center;
        }
        @include mobile {
          font-size: 16px;
          line-height: 24px;
        }
      }
      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 219px;
        height: 64px;
        background: $primary-color;
        border-radius: 8px;
        gap: 17px;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 22px;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: $background-color;
        border: none;
        &--left {
          margin-top: 10px;
        }
        @include desktop-small {
          width: 200px;
          height: 60px;
        }
        @include mobile {
          font-size: 18px;
          width: 180px;
          height: 55px;
        }
        transition: all 0.7s ease-out;
        &:hover {
          cursor: pointer;
          transition: all 0.5s ease-out;
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        &:active {
          transform: translateY(-1px);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
    &__img {
      @include tablet {
        img {
          max-width: 100%;
        }
        width: 250px;
      }
    }
  }
}
