<section class="section3">
  <div class="container">
    <div class="section3-content">
      <p class="section3-content__title">Some count that matters</p>
      <p class="section3-content__description">Our achievement in the journey depicted in numbers</p>
      <div class="list-value">
        <include src="./components/value.html" locals='{
          "quantity":"30",
          "description":"Clients"
        }'></include>
        <div class="divider"></div>
        <include src="./components/value.html" locals='{
          "quantity":"300+",
          "description":"Taken business legalities"
        }'></include>
        <div class="divider"></div>
        <include src="./components/value.html" locals='{
          "quantity":"8",
          "description":"Years of Journey"
        }'></include>
      </div>
    </div>
  </div>
</section>