<section class="section4">
 <div class="container">
    <div class="section4-content">
       <p class="section4-content__title" data-aos-duration="1100" data-aos="zoom-out">Clients Testimonial</p>
       <div class="list-testimonial">
         <include src="./components/testimonial.html" locals='{
            "url":"../assets/images/Photo_Testimonial.png",
            "title":"Incredible Experience",
            "description":"We had an incredible experience working with Landify and were impressed they made such a big difference in only three weeks. Our team is so grateful for the wonderful improvements they made and their ability to get familiar with the concept so quickly.",
            "name":"Anya Tailor Joy",
            "career":"CEO, SF Industires"
         }'></include>
         <include src="./components/testimonial.html" locals='{
            "url":"../assets/images/Photo_Testimonial.png",
            "title":"Dependable, Responsive, Professional Partner",
            "description":"Fermin Apps has collaborated with Landify team for several projects such as Photo Sharing Apps and Custom Social Networking Apps. The experience has been pleasant, professional and exceeding our expectations.",
            "name":"Sri Alam",
            "career":"CEO, Membagongkan GROUP"
         }'></include>
       </div>
    </div>
 </div>
</section>