<section class="section2">
  <div class="container">
    <div class="section2-content">
      <div class="information">
        <p class="information__title"> Why do we help <br>with legalization? </p>
        <p class="information__description">We are here for UMKM in Indonesia <br>to carry out the legalization process,
          <br> which is sometimes complicated.
        </p>
      </div>
      <div class="list-card">
        <include src="./components/card.html" locals='{
          "url":"../assets/images/Circle_layer.png",
          "title":"Enviromental Law",
          "description":"Environmental legal issues might occur since the planned business activities are designed"
        }'></include>

        <include src="./components/card.html" locals='{
          "url":"../assets/images/Bag.png",
          "title":"Corporate and Commercial",
          "description":"We provide a complete range of services for the continuity of your business activities."
        }'></include>

        <include src="./components/card.html" locals='{
          "url":"../assets/images/Rocket.png",
          "title":"Information and Technology",
          "description":"IT not followed by the existing regulation which might cause legal uncertainty and business uncertainty."
        }'></include>

        <include src="./components/card.html" locals='{
          "url":"../assets/images/User_Arrows.png",
          "title":"Other Services",
          "description":"In dealing with disruptive economic and legal challenge, our firm also provide various legal services."
        }'></include>
      </div>
    </div>
  </div>
</section>