<section class="section1">
  <div class="container">
    <include src="./layout/header.html"></include>
    <div class="content">
      <div class="content-info" data-aos-duration="1000"
            data-aos="fade-left">
        <div class="content-info__subtitle">
          <span class="content-info__subtitle--left">New</span>
          <p
            >Stay connected to the upcoming & Recent jobs</p
          >
        </div>
        <div class="content-info__title">
          Your Solution <br />Legal Consultacy
        </div>
        <div class="content-info__description">
          We are here to help you take care of your legality <br />with the best
          service especially for you.
        </div>
        <button class="content-info__btn">
            GET STARTED
        </button>
        <div class="company">
          <p class="company__introduce">Trusted by 10+ companies in indonesia</p>
          <div class="company-logo">
                <figure>
                    <img src="../assets/images/Airbnb_Logo.svg" alt="airbnb">
                </figure>
                <figure>
                    <img src="../assets/images/Hubspot_Logo.svg" alt="hubspot">
                </figure>
                <figure >
                    <img src="../assets/images/Microsoft_Logo.svg" alt="microsoft">
                </figure>
                <figure >
                    <img src="../assets/images/Google_Logo.svg" alt="google">
                </figure>
          </div>
        </div>  
      </div>
      <div class="content-person" data-aos-duration="1000"
            data-aos="fade-right">
        <figure>
          <img src="../assets/images/Hero_Image.png" alt="" />
        </figure>
        <div class="person-info">
          <p class="person-info__name">Tiara Andini</p>
          <p class="person-info__career">-Lawyer</p>
        </div>
      </div>
    </div>
  </div>
</section>
