<section class="section5">
  <div class="container">
    <div class="section5-content" >
      <div class="infomation" data-aos-duration="1100"
  data-aos="fade-right">
        <p class="infomation__title">Complex Questions?</p>
        <p class="infomation__description">Request for a personalized budget for your legal problem. We will send you a coupe options in 24 hours. You can have
        free consult , if a our first customer</p>
        <button class="infomation__btn">
          <figure class="infomation__btn--left">
            <img src="../assets/icons/phone_call.svg" alt="">
          </figure>
          Call now
        </button>
      </div>
      <figure class="section5-content__img" data-aos-duration="1100"
  data-aos="fade-left">
         <img src="../assets/images/image_Complex_Questions.png" alt="">
      </figure>
    </div>
  </div>
</section>