<section class="testimonial" data-aos-duration="1100"
  data-aos="flip-right">
  <div class="testimonial-content">
    <p class="testimonial-content__title">{{title}}</p>
    <p class="testimonial-content__description">{{description}}</p>
    <div class="testimonial-content__arrow"></div>
  </div>
  <div class="testimonial-owner">
     <figure>
        <img src="{{url}}" alt="testimonial image">
     </figure>
     <div class="info">
        <p class="info__name">{{name}}</p>
        <p class="info__career">{{career}}</p>
     </div>
  </div>
</section>