@use "variables" as *;

@mixin mobile {
  @media screen and (max-width: $small) {
    @content;
  }
}

@mixin mobile-small {
  @media screen and (max-width: $smaller) {
    @content;
  }
}

@mixin mobile-smaller {
  @media screen and (max-width: $minium) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $medium) {
    @content;
  }
}

@mixin tablet-lager {
  @media screen and (max-width: $lager) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $extra-lager) {
    @content;
  }
}

@mixin flex(
  $display: flex,
  $direction: false,
  $align: false,
  $justify: false,
  $wrap: false
) {
  display: $display;
  @if $direction {
    flex-direction: $direction;
  }
  @if $align {
    align-items: $align;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $wrap {
    flex-wrap: $wrap;
  }
}
