$primary-font: Poppins;
$description-font:Plus_Jakarta_Sans;
$header-font: Playfair_Display;
$copyright-font: Inter;

$text-color:#2D2F30;
$primary-color: #094B72;
$background-color: #ffffff;
$text-sub-color: #4f4f4f;
$border-color: #8B8C8C;
$section-background:#F2F7FF;
$testimonial-background:#C4C4C4;

$small: 640px + 1px;
$medium: 768px + 1px;
$lager: 1024px + 1px;
$extra-lager: 1280px;
